<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>H5PageDEMO</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,
    maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <!-- 基本资源库 -->
  <script src="public/js/jquery.js"></script>
  <script src="public/js/jquery-ui.min.js"></script>
  <script src="public/js/jquery.fullPage.js"></script>
  <script src="public/js/H5Loading.js"></script>
  <script type="text/javascript">
    var res = ['Base', 'Point', 'Bar', 'Bar_v', 'Polyline', 'Rader', 'Pie', 'Ring'];
    var html = [];
    for (s in res) {
      html.push(`<script src = 'public/js/H5Component${res[s]}.js'><\/script>`)
    }
    document.write(html.join(""))
  </script>
  <!-- H5资源库 -->
  <link rel="stylesheet" href="public/css/H5.css">
  <script src="public/js/H5.js"></script>
</head>

<body>
  <div class="load-wrapper">
    <div class="loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="rate" id="rate">0%</div>
  </div>
  <!-- 主要逻辑 -->
  <script type="text/javascript">
    $(function () {
      var h5 = new H5();
      // 在H5.js中判断若含有此方法则执行
      h5.whenAddPage = function () {
        //因为每个页面均有此层
        this.addComponent('footer', {
          width: '0.25rem',
          height: '0.25rem',
          center: true,
          bg: 'public/images/down_logo.png',
          css: {
            bottom: "-0.1rem",
            opacity: 0,
            zIndex: 99
          },
          animateIn: {
            bottom: 0,
            opacity: 1
          },
          animateOut: {
            bottom: "-0.2rem",
            opacity: 0
          },
          delay: 1000
        })
      }
      // 因为H5.js中两个方法均return this,返回H5对象,故可以链式调用。
      h5.addPage('face')
        .addComponent('face_title', {
          width: '1.64rem',
          height: '0.66rem',
          center: true,
          bg: 'public/images/face_title.png',
          css: {
            opacity: 0,
            top: '50%',
            marginTop: "-0.33rem"
          },
          animateIn: {
            left: '50%',
            opacity: 1
          },
          animateOut: {
            opacity: 0
          },
          delay: 1000
        })
        .addComponent('face_top', {
          width: '2.9rem',
          height: '2.1rem',
          bg: 'public/images/face_top.png',
          css: {
            opacity: 0,
            top: "-1rem",
            right: "-1rem"
          },
          animateIn: {
            opacity: 1,
            top: "0.3rem",
            right: "50%",
            marginRight: "-1.4rem"
          },
          animateOut: {
            opacity: 0,
            top: "-1rem",
            right: "-1rem"
          },
          delay: 500
        })
        .addComponent('face_bottom', {
          width: '3.75rem',
          height: '2.4rem',
          bg: 'public/images/face_bottom.png',
          css: {
            opacity: 0,
            bottom: "-2rem",
            left: 0,
          },
          animateIn: {
            bottom: "-0.5rem",
            opacity: 1
          },
          animateOut: {
            opacity: 0,
            bottom: "-2rem"
          }
        })
        //何许人也
        .addPage()
        .addComponent('nav_pink', {
          text: '何许人也',
          css: {
            top: "0.2rem",
            left: "-2rem",
            opacity: 0
          },
          animateIn: {
            left: "0.2rem",
            opacity: 1
          },
          animateOut: {
            left: "-2rem",
            opacity: 0
          },
        })
        .addComponent('talk_bg', {
          width: "2.4rem",
          height: "2.355rem",
          bg: 'public/images/talk_bg1.png',
          center: true,
          css: {
            top: "2rem",
            opacity: 0,
            padding: "0.5rem 0.35rem ",
            textAlign: 'justify',
            fontSize: '0.14rem',
          },
          text: '姓李名金博，今年二十有二，经常以文艺青年自居，时常范二(捂脸)。在前端路上旅行了3年，步履蹒跚，踉踉跄跄。喜欢简约，喜欢整洁，喜欢元素堆砌产生的美妙化学反应。',
          animateIn: {
            top: "1rem",
            opacity: 1
          },
          animateOut: {
            top: "2rem",
            opacity: 0
          },
          delay: 1000
        })
        .addComponent('myself', {
          width: "0.92rem",
          height: "2rem",
          bg: 'public/images/people.png',
          center: true,
          css: {
            top: "3rem",
            opacity: 0,
            textAlign: 'justify',
            fontSize: '0.14rem',
          },
          animateIn: {
            top: "3.5rem",
            opacity: 1
          },
          animateOut: {
            top: "3rem",
            opacity: 0
          },
          delay: 1500
        })
        //余擅何也,饼状图
        .addPage()
        .addComponent('nav_blue', {
          text: '余擅何也',
          css: {
            top: "0.2rem",
            left: "-2rem",
            opacity: 0
          },
          animateIn: {
            left: "0.2rem",
            opacity: 1
          },
          animateOut: {
            left: "-2rem",
            opacity: 0
          },
        })
        .addComponent('talk_bg', {
          width: "2.8rem",
          height: "2.25rem",
          bg: 'public/images/talk_bg2.png',
          css: {
            top: "1rem",
            opacity: 0,
            padding: '0.3rem',
            textAlign: 'justify',
            fontSize: '0.14rem',
            right: 0
          },
          text: '我擅长什么呢？大体上：JavaScript掌握不错，能根据需求写出原生JS代码；Node则自己搭建了个人网站并已上线；CSS3对动画与Canvas也十分熟练;Vue则进行了实战项目，对其核心思想与编程逻辑掌握不错。',
          animateIn: {
            opacity: 1,
            right: '50%',
            marginRight: "-1.4rem"
          },
          animateOut: {
            opacity: 0,
            right: 0
          },
          delay: 1000
        })
        .addComponent('pie', {
          type: 'pie',
          width: 160,
          height: 160,
          // data[2] 区域颜色 data[3] 字体颜色
          data: [
            ['Javascript', 0.3, '#32bbff', '#32bbff'],
            ['NodeJs', 0.2, '#00dbc2', '#00dbc2'],
            ['CSS3', 0.3, '#f577a8', '#f577a8'],
            ['Vue', 0.2, '#ff4422', '#ff4422'],
          ],
          css: {
            opacity: 0,
            top: "3.8rem",
            left: 0
          },
          animateIn: {
            opacity: 1,
            left: '50%',
            marginLeft: -80
          },
          animateOut: {
            opacity: 0,
            left: 0
          },
          delay: 1000
        })
        //何已为也,折线图
        .addPage()
        .addComponent('nav_yellow', {
          text: '何已为也',
          css: {
            top: "0.2rem",
            left: "-2rem",
            opacity: 0
          },
          animateIn: {
            left: "0.2rem",
            opacity: 1
          },
          animateOut: {
            left: "-2rem",
            opacity: 0
          },
        })
        .addComponent('talk_bg', {
          width: "3.4rem",
          height: "2.1rem",
          bg: 'public/images/talk_bg3.png',
          css: {
            top: "1rem",
            opacity: 0,
            padding: '0.1rem 0.3rem',
            textAlign: 'justify',
            fontSize: '0.14rem',
            right: 0
          },
          text: '我做了什么呢？Node写的个人网站——锦时，页面自己一点点搭建的，很有成就感，待用Vue重新构建，打70分；H5Page，页面构建不错，70分吧；VueSPA，慕课实战，完成度不错，笔记做得很扎实，及格；Lazejs，起步阶段，构想是搭建一个属于自己的库，萌芽阶段，只有几个方法，40分吧；Canvas，做了几个demo,会用，50分',
          animateIn: {
            opacity: 1,
            right: '50%',
            marginRight: "-1.7rem"
          },
          animateOut: {
            opacity: 0,
            right: 0
          },
          delay: 1000
        })
        .addComponent('polyline', {
          type: 'polyline',
          width: 300,
          height: 180,
          data: [
            ['锦时', 0.7],
            ['H5Page', 0.7],
            ['VueSPA', 0.6],
            ['Lazejs', 0.4],
            ['Canvas', 0.5]
          ],
          css: {
            opacity: 0,
            top: "4rem"
          },
          animateIn: {
            opacity: 1,
            top: "3.5rem"
          },
          animateOut: {
            opacity: 0,
            top: "4rem"
          },
          center: true,
        })
        //欲求何也,环状图
        .addPage()
        .addComponent('nav_pink', {
          text: '欲求何也',
          css: {
            top: "0.2rem",
            left: "-2rem",
            opacity: 0
          },
          animateIn: {
            left: "0.2rem",
            opacity: 1
          },
          animateOut: {
            left: "-2rem",
            opacity: 0
          },
        })
        .addComponent('ring', {
          type: 'ring',
          width: 160,
          height: 160,
          // data[1] 数据值 data[2] 环颜色 data[2] 值颜色
          data: ['志同道合的公司最重要', 1, '#ff7676', '#ff7676'],
          css: {
            top: "1rem",
            right: "0.8rem",
            opacity: 0
          },
          animateIn: {
            opacity: 1,
          },
          animateOut: {
            opacity: 0,
          },
          delay: 500
        })
        .addComponent('ring', {
          type: 'ring',
          width: 160,
          height: 160,
          // data[1] 数据值 data[2] 环颜色 data[2] 值颜色
          data: ['硬件强环境美其次', 0.8, '#3de1ff', '#3de1ff'],
          css: {
            top: "2.6rem",
            left: "0.2rem",
            opacity: 0
          },
          animateIn: {
            opacity: 1
          },
          animateOut: {
            opacity: 0
          },
          delay: 500
        })
        .addComponent('ring', {
          type: 'ring',
          width: 160,
          height: 160,
          // data[1] 数据值 data[2] 环颜色 data[2] 值颜色
          data: ['薪资待遇最后', 0.6, '#ff7632', '#ff7632'],
          css: {
            top: "3.8rem",
            opacity: 0,
            right: 20
          },
          animateIn: {
            opacity: 1
          },
          animateOut: {
            opacity: 0
          },
          delay: 500
        })
        //欲学何也,柱图
        .addPage()
        .addComponent('nav_pink', {
          text: '欲学何也',
          css: {
            top: "0.2rem",
            left: "-2rem",
            opacity: 0
          },
          animateIn: {
            left: "0.2rem",
            opacity: 1
          },
          animateOut: {
            left: "-2rem",
            opacity: 0
          },
        })
        .addComponent('bar', {
          type: 'bar',
          width: 230,
          height: 200,
          rateHeight: 16,
          data: [
            ['Vue', 1, '#86cbff'],
            ['Node', 0.8, '#00dbc2'],
            ['ES6', 0.7, '#ff7632'],
            ['Webpack', 0.7, '#ff4422'],
            ['React', 0.5, '#3de1ff'],
          ],
          css: {
            opacity: 0,
            top: "4rem",
            left: '50%',
            marginLeft: "-1rem"
          },
          animateIn: {
            opacity: 1,
            top: "3.5rem",
          },
          animateOut: {
            opacity: 0,
            top: "4rem",
          },
        })
        .addComponent('talk_bg', {
          width: "2.4rem",
          height: "2.355rem",
          bg: 'public/images/talk_bg1.png',
          center: true,
          css: {
            top: "2rem",
            opacity: 0,
            padding: '0.5rem 0.23rem',
            textAlign: 'justify',
            fontSize: '0.14rem',
          },
          text: '我准备继续学什么？Vue，现在还未做到精通，只算会用，继续深入学习；Node，继续深入学习，努力成为大前端；ES6，这是前进的方向；Webpack，分析构建打包全过程，做到了然于胸；React，在Vue学习深入后，了解一下React。',
          animateIn: {
            top: "1rem",
            opacity: 1,
            right: '50%',
            marginRight: "-1.2rem"
          },
          animateOut: {
            top: "2rem",
            opacity: 0,
            right: 0
          },
          delay: 1000
        })
        //自我定位,雷达图
        .addPage()
        .addComponent('nav_blue', {
          text: '自我定位',
          css: {
            top: "0.2rem",
            left: "-2rem",
            opacity: 0
          },
          animateIn: {
            left: "0.2rem",
            opacity: 1
          },
          animateOut: {
            left: "-2rem",
            opacity: 0
          },
        })
        .addComponent('talk_bg', {
          width: "2.8rem",
          height: "2.25rem",
          bg: 'public/images/talk_bg2.png',
          center: true,
          css: {
            top: 100,
            opacity: 0,
            padding: '0.3rem',
            textAlign: 'justify',
            fontSize: '0.14rem',
          },
          text: '不吹不黑，责任心绝对爆棚，每当答应或需要完成的事，是一定要去完成的。不甘平凡，技术拉下了，就会去充电，上进心也很强。心地善良，喜欢猫狗，对熟人热情又幽默。若是进入一个团队，一定可以非常快的融入进去，打成一片。',
          animateIn: {
            top: 100,
            opacity: 1,
            right: '50%',
            marginRight: -170
          },
          animateOut: {
            top: 200,
            opacity: 0,
            right: 0
          },
          delay: 1000
        })
        .addComponent('rader', {
          type: 'rader',
          width: 200,
          height: 200,
          data: [
            ['责任心', 0.95, '#0fb9ed'],
            ['上进心', 0.9, '#0fb9ed'],
            ['毅力', 0.7, '#0fb9ed'],
            ['热情', 0.8, '#0fb9ed'],
            ['幽默', 0.6, '#0fb9ed'],
          ],
          css: {
            opacity: 0,
            top: "3rem"
          },
          animateIn: {
            opacity: 1,
            top: "3.8rem"
          },
          animateOut: {
            opacity: 0,
            top: "3rem"
          },
          center: true
        })
        // 结束页
        .addPage('tail')
        .addComponent('tail_back', {
          center: true,
          bg: 'public/images/tail_back.png',
          width: "0.26rem",
          height: "0.25rem",
          css: {
            top: "0.3rem",
            cursor: 'pointer'
          },
          onclick: function () {
            $.fn.fullpage.moveTo(1);
          },
          dealy: 1000
        })
        .addComponent('tail_eyes', {
          bg: 'public/images/eyes.png',
          width: "2rem",
          height: "0.67rem",
          center: true,
          css: {
            top: "0",
            opacity: 0
          },
          animateIn: {
            top: "1rem",
            opacity: 1
          },
          animateOut: {
            top: "0",
            opacity: 0
          },
        })
        .addComponent('tail_ball', {
          bg: 'public/images/tail_ball.png',
          width: "2rem",
          height: "2rem",
          center: true,
          text: "谢谢观看",
          css: {
            top: "0",
            opacity: 0,
          },
          animateIn: {
            top: "1.6rem",
            opacity: 1
          },
          animateOut: {
            top: "0",
            opacity: 0
          },
        })
        .addComponent('left_cat', {
          bg: 'public/images/left_cat.png',
          width: "1.5rem",
          height: "1.5rem",
          css: {
            bottom: "1rem",
            left: "-0.7rem",
            opacity: 0
          },
          animateIn: {
            left: "-0.51rem",
            opacity: 1
          },
          animateOut: {
            left: "-0.7rem",
            opacity: 0
          },
          delay: 500
        })
        .addComponent('right_cat', {
          bg: 'public/images/right_cat.png',
          width: "1.5rem",
          height: "1.5rem",
          css: {
            bottom: "1rem",
            right: "-0.45rem",
            opacity: 0
          },
          animateIn: {
            right: "-0.05rem",
            opacity: 1
          },
          animateOut: {
            right: "-0.45rem",
            opacity: 0
          },
          delay: 500
        })
        .loader([
          'public/images/bg.jpg',
          'public/images/down_logo.png',
          'public/images/eyes.png',
          'public/images/face.jpg',
          'public/images/face_title.png',
          'public/images/face_top.png',
          'public/images/face_bottom.png',
          'public/images/left_cat.png',
          'public/images/navbg.png',
          'public/images/people.png',
          'public/images/right_cat.png',
          'public/images/tail_back.png',
          'public/images/tail_ball.png',
          'public/images/talk_bg1.png',
          'public/images/talk_bg2.png',
          'public/images/talk_bg3.png'
        ]);
    })
  </script>
</body>
</html>